.audiogram-right td {
	background-color: #ffc1c1;
}

.audiogram-left td {
	background-color: #a0ccff;
}

.wrapper-full-page {
	background-color: black;
}

textarea {
	max-height: 200px;
	overflow: hidden;
}
.form-group label.control-label {
	color: #5C5C5C;
}
.form-control {
	color: black;
}
.audiogram th {
	text-align: center;
}

.lead {
	font-size: 125% !important;
}
.fa {
	display: inline;
}
.text-black {
	color: black !important;
	font-weight: bold;
}
p.accessible-large {
	font-size: 24px !important;
}
h3.accessible-large {
	font-weight: bold !important;
	font-size: 32px !important;
}
.panel-contrast {
	border: 4px solid #0f63e0;
	border-radius: 15px;
	background-color: black !important;
	color: white !important;
	font-size: 25px;
}
.panel-contast p {
	font-weight: bold !important;
	font-size: 20px !important;
}
.tooltip-inner {
	font-size: 18px !important;
	font-weight: bold !important;
}
