.audiogram-right td {
	background-color: #ffc1c1;
}

.audiogram-left td {
	background-color: #a0ccff;
}

.wrapper-full-page {
	background-color: black;
}

textarea {
	max-height: 200px;
	overflow: hidden;
}
.form-group label.control-label {
	color: #5C5C5C;
}
.form-control {
	color: black;
}
