{% extends 'base.html' %}

{% block title %}404 - Not Found{% endblock %}

{% block content %}


{% if messages %}
{% for message in messages %}
	<div class="alert alert-danger">
        {{ message }}
        </div>
{% endfor %}
{% endif %}


<div class="jumbotron">
	<h1>There's nothing here</h1>
	<p class="lead">For some reason, you're trying to access a page that doesn't exist.</p>
	<p>Do me a favor and <a href="/contact/">tell me how you got here</a> so that I can fix the problem.</p>
	<p><a class="btn btn-primary btn-lg" href="/contact/" role="button">Contact Me &raquo;</a></p>
</div>

<hr>

{% endblock %}