{% extends 'OMS/base.html' %}

{% block title %}Westwood Hearing | New Patient{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger">
  {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="row">
<div class="col-md-8">
  <div class="container">
    <div class="card" data-color="blue">
      <div class="card-header" data-background-color="blue"><h2>Add New Patient</h2>
      </div>
      <div class="card-content">
      <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          <label for="{{ field.subject_id_for_label }}">{{ field.label }}</label>
          {{ field }}
        </div>
        {% endfor %}
        <input type="submit" value="Add">
      </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
