{% extends 'OMS/base.html' %} {% block title %}{{ patient.lname }}, {{ patient.fname }}{% endblock %} {% load staticfiles %} {% block content %}
<div class="row">
	<div class="col-md-8">
		<div class="card" id="patient-details">
			<div class="card-header" data-background-color="purple">
				<h2>{{ patient.lname }}, {{ patient.fname }}</h2>
				<h6 class="small">Patient since {{ patient.createdate }}</h6>
			</div>
			<div class="card-content">
				<form id="form-details" method="POST">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-6">
							<div class="form-group label-floating">
								<label for="{{ patientform.fname.id_for_label }}" class="control-label">{{ patientform.fname.label }}</label> {{ patientform.fname }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group label-floating">
								<label for="{{ patientform.lname.id_for_label }}" class="control-label">{{ patientform.lname.label }}</label> {{ patientform.lname }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group label-floating">
								<label for="{{ patientform.street.id_for_label }}" class="control-label">{{ patientform.street.label }}</label> {{ patientform.street }}
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group label-floating">
								<label for="{{ patientform.city.id_for_label }}" class="control-label">{{ patientform.city.label }}</label> {{ patientform.city }}
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group label-floating">
								<label for="{{ patientform.state.id_for_label }}" class="control-label">{{ patientform.state.label }}</label> {{ patientform.state }}
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group label-floating">
								<label for="{{ patientform.zipcode.id_for_label }}" class="control-label">{{ patientform.zipcode.label }}</label> {{ patientform.zipcode }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<div class="form-group label-floating">
								<label for="{{ patientform.birthday.id_for_label }}" class="control-label">{{ patientform.birthday.label }}</label> {{ patientform.birthday }}
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group label-floating">
								<label for="{{ patientform.phone.id_for_label }}" class="control-label">{{ patientform.phone.label }}</label> {{ patientform.phone }}
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group label-floating">
								<label for="{{ patientform.email.id_for_label }}" class="control-label">{{ patientform.email.label }}</label> {{ patientform.email }}
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group label-floating">
								<label for="{{ patientform.gender.id_for_label }}" class="control-label">{{ patientform.gender.label }}</label> {{ patientform.gender }}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group label-floating">
								<label for="{{ patientform.notes.id_for_label }}" class="control-label">{{ patientform.notes.label }}</label> {{ patientform.notes }}
							</div>
						</div>
					</div>
					<!--
					{% for field in patientform %}
					<div class="row">
						<div class="form-group label-floating">
							<label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
							{{ field }}
						</div>
					</div>
					{% endfor %}
				-->
					<div class="togglebutton pull-left">
						<label>
							<input type="checkbox" id="enable-edit">
							Enable Editing
						</label>
					</div>
					<button type="submit" id="enable-edit-submit" class="btn btn-primary pull-right">Update Profile</button>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4>Appointment History</h4>
			</div>
			<div class="card-content">
				<div id="apptaccordion" class="panel-group" role="tablist" aria-multiselectable="true">
					{% for appt in appointments %}
					<div class="panel panel-default">
						<div class="panel-heading" id="apptheading{{ forloop.counter }}">
							<a role="button" data-toggle="collapse" data-parent="#apptaccordion" href="#apptcollapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}" class="collapsed">
								<h4 class="panel-title">
									{{ appt.datetime }}
									<i class="material-icons">keyboard_arrow_down</i>
								</h4>
							</a>
						</div>
						<div id="apptcollapse{{ forloop.counter }}" role="tabpanel" class="panel-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" aria-expanded="false" style="height: 0px;">
							<div class="panel-body">
								<p>{{ appt.notes }}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="row text-center">
					<button class="btn btn-rose btn-sm btn-round">
					<i class="material-icons">add</i> New Appointment
				</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Patient Detail Card -->

<div class="row">
	<div class="card">
		<div class="card-header" data-background-color="blue">
			<h4 class="section-head">Audiograms</h4>
		</div>
		<div class="card-content">
			<div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
				{% for audiogram in audiograms %}
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}" class="collapsed">
							<h4 class="panel-title">
								{{ audiogram.readable_time }}
								<i class="material-icons">keyboard_arrow_down</i>
							</h4>
						</a>
					</div>
					<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}" aria-expanded="false" style="height: 0px;">
						<div class="panel-body text-center">
							<div class="table-responsive">
								<table class="table table-bordered audiogram">
										<th><a href="/audiogram/{{ audiogram.id }}" class="">view details</a></th>
										<th>250</th>
										<th>500</th>
										<th>1000</th>
										<th>1500</th>
										<th>2000</th>
										<th>3000</th>
										<th>4000</th>
										<th>6000</th>
										<th>8000</th>
									</thead>
									<tr class="audiogram-left">
										<th class="text-center">L</th>
										{% for item in audiogram.get_audio_L %}
										<td>{{ item }}</td>
										{% endfor %}
									</tr>
									<tr class="audiogram-right">
										<th class="text-center">R</th>
										{% for item in audiogram.get_audio_R %}
										<td>{{ item }}</td>
										{% endfor %}
									</tr>
									<th class="text-center">Notes</th>
									<td colspan="9" class="text-left">{{ audiogram.notes }}</td>
									<tr>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="row text-center">
				<button class="btn btn-rose btn-sm btn-round">
				<i class="material-icons">add</i> New Appointment
			</button>
			</div>
		</div>
	</div>
</div>

{% endblock %} {% block scripts %}

<script>
	$(document).ready(function() {
		$('#form-details .form-control').prop('disabled', true);
		$('#enable-edit-submit').prop('disabled', true);
	})
</script>

{% endblock %}
