{% extends 'OMS/base.html' %} {% block title %}{{ patient.lname }}, {{ patient.fname }}{% endblock %} {% load staticfiles %} {% block content %}
<div class="row">
	<div class="col-md-8">
	<div class="card" id="patient-details">
		<div class="card-header" data-background-color="purple">
			<h2>{{ patient.lname }}, {{ patient.fname }}</h2>
			<h6 class="small">Patient since {{ patient.createdate }}</h6>
		</div>
		<div class="card-content">
			<form id="form-details">

						<div class="row">
							<div class="col-md-9">
								<div class="form-group label-floating">
									<label class="control-label">Email address</label>
									<input disabled="" class="form-control" type="email" value="{{ patient.email }}">
									<span class="material-input"></span></div>
								</div>
								<div class="col-md-3">
									<div class="form-group label-floating">
										<label class="control-label">Birthday</label>
										<input disabled="" class="form-control datepicker" type="date" value="{{ patient.birthday }}" />
										<span class="material-input"></span></div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="form-group label-floating">
											<label class="control-label">Address</label>
											<input disabled="" class="form-control" type="text">
											<span class="material-input"></span></div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-4">
											<div class="form-group label-floating">
												<label class="control-label">City</label>
												<input disabled="" class="form-control" type="text">
												<span class="material-input"></span></div>
											</div>
											<div class="col-md-4">
												<div class="form-group label-floating">
													<label class="control-label">Country</label>
													<input disabled="" class="form-control" type="text">
													<span class="material-input"></span></div>
												</div>
												<div class="col-md-4">
													<div class="form-group label-floating">
														<label class="control-label">Postal Code</label>
														<input disabled="" class="form-control" type="text">
														<span class="material-input"></span></div>
													</div>
												</div>
												<div class="togglebutton pull-left">
													<label>
														<input type="checkbox" id="enable-edit">
														Enable Editing
													</label>
												</div>
												<button type="submit" class="btn btn-primary pull-right">Update Profile</button>
												<div class="clearfix"></div>
											</form>
										</div>
									</div>
									</div>
									<div class="col-md-4">
										<div class="card">
											<div class="card-header" data-background-color="green">
												<h4>Appointment History</h4>
											</div>
											<div class="card-content">
												<div id="apptaccordion" class="panel-group" role="tablist" aria-multiselectable="true">
													{% for appt in appointments %}
													<div class="panel panel-default">
														<div class="panel-heading" id="apptheading{{ forloop.counter }}">
															<a role="button" data-toggle="collapse" data-parent="#apptaccordion" href="#apptcollapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}" class="collapsed">
																<h4 class="panel-title">
																	{{ appt.datetime }}
																	<i class="material-icons">keyboard_arrow_down</i>
																</h4>
															</a>
														</div>
														<div id="apptcollapse{{ forloop.counter }}" role="tabpanel" class="panel-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" aria-expanded="false" style="height: 0px;">
														<div class="panel-body">
															<p>{{ appt.notes }}</p>
														</div>
													</div>
													</div>
													{% endfor %}
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- End Patient Detail Card -->

								<div class="row">
									<div class="card">
										<div class="card-header" data-background-color="blue">
											<h4 class="section-head">Audiograms</h4>
										</div>
										<div class="card-content">
											<div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
												{% for audiogram in audiograms %}
												<div class="panel panel-default">
													<div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
														<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}" class="collapsed">
															<h4 class="panel-title">
																{{ audiogram.readable_time }}
																<i class="material-icons">keyboard_arrow_down</i>
															</h4>
														</a>
													</div>
													<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}" aria-expanded="false" style="height: 0px;">
														<div class="panel-body text-center">
															<div class="table-responsive">
																<table class="table table-bordered">
																	<thead>
																		<th> </th>
																		<th>250</th>
																		<th>500</th>
																		<th>1000</th>
																		<th>1500</th>
																		<th>2000</th>
																		<th>3000</th>
																		<th>4000</th>
																		<th>6000</th>
																		<th>8000</th>
																	</thead>
																	<tr class="audiogram-left">
																		<th>L</th>
																		{% for item in audiogram.get_audio_L %}
																		<td>{{ item }}</td>
																		{% endfor %}
																	</tr>
																	<tr class="audiogram-right">
																		<th>R</th>
																		{% for item in audiogram.get_audio_R %}
																		<td>{{ item }}</td>
																		{% endfor %}
																	</tr>
																</table>
															</div>
														</div>
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
								<div class="row audiogram-section">

								</div>

								{% endblock %}
